<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings file="">
    <clear />
    <add key="User" value="EhVHyfUQIlY=" />
    <add key="Server" value="o4fKsJmLsfdIslaHlhFHmIP5p4Vcckr932IbI50oEdI=" />
    <add key="Password" value="s/IHNWB1gJu0em25YnwrhQ==" />
    <add key="Database2" value="3QiaySyKrh7fYhsjnSgR0g==" />
    <add key="Database" value="HXTaIy3K10o=" />
    <add key="Sucursal" value="JG" />
    <add key="Database3" value="3QiaySyKrh7fYhsjnSgR0g==" />
    <add key="RutaRespaldo" value="C:\Sistemas" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>